<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>About - Game Review Database</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <p>GAME DB</p>
            </div>
            <div class="nav-links">
                <div class="nav-item">
                    <a href="/">Games</a>
                </div>
                <div class="nav-item">
                    <a href="/top">Top</a>
                </div>
                <div class="nav-item">
                    <a href="/about">About</a>
                </div>
            </div>
            <form action="/search" method="GET">
                <input class="search-bar" type="text" name="query" placeholder="Search games...">
            </form>
            <div class="profile"><p>Sprint 1</p></div>
        </div>

        <div class="content">
            <div class="content-header">
                <h1>About</h1>
                <p>This web app helps users compare video games by title, price, and rating.</p>
            </div>
        </div>
    </div>
</body>
</html>
