<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>index</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <p>LOGO</p>
            </div>
            <div class="nav-links">
                <div class="nav-item">
                    <a href="#">Games</a>
                </div>
                <div class="nav-item">
                    <a href="#">Top</a>
                </div>
                <div class="nav-item">
                    <a href="#">About</a>
                </div>
            </div>
            
            <form action="/search" method="GET">
                <input class="search-bar" type="text" name="query" placeholder="Search games...">
            </form>
            
            <div class="profile"><p>Profile / Login</p></div>
        </div>

        <div class="content">
            {% if games %}
                {% for game in games %}
                    <a class="game-card-link" href="/game/{{ game['game_id'] }}">
                        <div class="game-card">
                            <h2>{{game['title']}}</h2>
                            <p>Price: ${{ game['price'] }}</p>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>